[mysqld]
server-id                       = 1
binlog_do_db                    = pastebin
log-bin                         = /var/log/mysql/mysql-bin
slave_compressed_protocol       = 1
slave_parallel_workers          = 10
